.trademark-filter-wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.trademark-filter-wrapper .card {
  border: none;
}

.trademark-filter-wrapper .card-body {
  padding: 25px;
}

.filter-label {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 10px;
}

.filterdropdown-toggle {
  background: #f3f4fb;
  border-radius: 4px;
  width: 100%;
  min-height: 40px;
  padding: 10px 15px 10px 20px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #838b9b;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: none !important;
}

.filterdropdown-toggle:hover,
.filterdropdown-toggle:focus {
  background: #303bb7;
}

.filterdropdown-toggle:hover img {
  filter: brightness(0) invert(1);
}

.filterdropdown-toggle:after {
  background-image: url("../../images/down-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  width: 16px;
  height: 10px;
  right: 15px;
}

.filter-list {
  border: none;
  padding: 0px;
  margin-bottom: 20px;
}

.prouct-count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #838b9b;
  text-align: right;
  position: relative;
  top: 3px;
}

.filter-checkproduct {
  max-width: calc(100% - 50px);
  width: 100%;
  word-break: break-word;
  white-space: normal;
  display: flex;
}
.trademark-filter-wrapper .card-body .filter-label div {
  display: none !important;
}
@media (max-width: 1024px) {
  .trademark-filter-wrapper .card-body {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .trademark-filter-wrapper {
    margin-bottom: 30px;
  }
  .trademark-filter-wrapper .card-body .filter-label {
    display: flex;
    align-items: center;
    margin: 0 0 0px 0;
  }
  .trademark-filter-wrapper .card-body .filter-label div {
    display: block !important;
    margin-left: auto !important;
  }
  .trademark-filter-wrapper .card-body .filter-label + div {
    padding-top: 15px;
  }
  .trademark-filter-wrapper .card-body .Filter-dropdown-wrapper {
    display: none;
  }
}
